@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  font-family: "Quicksand";
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff4f3;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar header {
  box-sizing: border-box;
  width: 100%;
  padding: 18px 30px 18px 25px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: salmon;
  text-decoration: none;
  position: fixed;
  top: 0;
  z-index: 300;
}

.navbar a,
.navbar p {
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

/* .navbar a.user {
  font-size: 17px;
  cursor: pointer;
   animation: geming 8s infinite alternate; 
} */

.navbar a.logo {
  font-size: 20px;
}

.navbar p {
  font-size: 16px;
  color: white;
  margin: 0;
}

.menu-button {
  display: flex;
}

.menu-button img {
  cursor: pointer;
  margin-left: 30px;
}

@keyframes geming {
  0% {
    color: red;
  }
  14.2% {
    color: green;
  }
  28.4% {
    color: blue;
  }
  42.6% {
    color: #264653;
  }
  56.8% {
    color: #2a9d8f;
  }
  71% {
    color: #e9c46a;
  }
  85.2% {
    color: #f4a261;
  }
  100% {
    color: #e76f51;
  }
}

.sidebar {
  margin-top: 0px;
  padding: 10px 0 0 10px;
  width: 200px;
  height: 100%;
  background-color: white;
  position: fixed;
  right: -200px;
  box-sizing: border-box;
  z-index: 20;
  transition: all 0.5s ease;
}

.sidebar ul {
  margin: 0;
  padding: 10px;
  padding-top: 7px;
  list-style: none;
}
.sidebar ul li {
  box-sizing: border-box;
  padding: 5px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid salmon;
}

.sidebar ul a {
  color: black;
  text-decoration: none;
}

.sidebar ul a:hover {
  color: salmon;
}

.open {
  transition: all 0.6s ease;
  right: 0;
}

.shadow-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.5px);
  z-index: 5;
}

.d-none {
  display: none;
}

.container {
  margin-top: 61px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px 20px 10px 20px;
}

#submit {
  border: none;
  padding: 4px 12px;
  background-color: salmon;
  color: white;
  border-radius: 5px;
}

#submit:hover {
  background-color: salmon;
}

#submit:active {
  background-color: rgb(255, 181, 181);
  color: black;
}

.btn {
  border: none;
  padding: 4px 12px;
  /* background-color: salmon; */
  /* color: white; */
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

/* .btn:hover {
  color: white;
  background-color: salmon;
}

.btn:active {
  background-color: rgb(255, 181, 181);
  color: black;
} */

.btn-main {
  background-color: salmon;
  color: white;
}

.btn-main:hover {
  background-color: #e46253;
}

.btn-secondary {
  background-color: white;
  color: black;
  padding: 3px 11px;
  border: 1px solid salmon;
}

.btn-secondary:hover {
  color: white;
  background-color: salmon;
}

.btn-add {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: salmon;
  padding: 4px 16px;
  border: 1px solid salmon;
  margin-left: 24px;
}

a {
  text-decoration: none;
}

.header {
  margin: 0 35px 0 24px;
  display: flex;
  justify-content: space-between;
}
.header-add-user {
  display: flex;
}

.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search input {
  border-radius: 7px 0px 0px 7px;

  box-sizing: border-box;
  padding-left: 10px;
  border: none;
  width: 220px;
  height: 34px;
  background-color: rgb(231, 231, 231);
}

.header-search button {
  border-radius: 0px 7px 7px 0px;
  padding-right: 30px;
  cursor: pointer;
  border: none;
  background-color: lightgray;
  width: 34px;
  height: 34px;
}

.search-literal-button {
  color: rgb(85, 85, 85);
  cursor: pointer;
  display: flex;
  gap: 3px;
}

.user-total {
  align-items: center;
  display: flex;
  color: white;
  border-radius: 20px;
  gap: 4px;
  /* width: 65px; */
  background-color: salmon;
  padding: 4px 20px;
}

.table {
  display: block;
  background-color: white;
  width: 100%;
  box-shadow: 1.5px 2.4px 10px 1px rgba(0, 0, 0, 0.2);
  /* padding-top: 12px; */
}

.style-table a {
  margin: 0;
  display: block;
  width: 26px;
  height: 26px;
}
.style-table a {
  position: relative;
  cursor: pointer;
  border: 2px solid rgba(128, 128, 128, 0);
  background-color: rgba(128, 128, 128, 0);
  border-radius: 50%;
  padding: 4px;
}

.style-table a:hover {
  padding: 4px;
  transition: 0.2s;
  /* border: 2px solid rgba(0, 0, 0, 0.075); */
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.style-table .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.style-table {
  border-collapse: collapse;
  margin: 10px 0;
  width: 100%;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.style-table thead tr {
  color: #2b2b2b;
  background-color: white;
  /* box-shadow: 0px -8px 7px -11px rgba(0,0,0,0.73) inset; */
}

.style-table tbody tr {
  background-color: white;
  /* border-bottom: 2.5px solid #ffe8e6; */
}

.style-table th,
.style-table td {
  padding: 8px 30px;
}

.text-center {
  text-align: center;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.5px);
  z-index: 5;
}

.window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 100px;
  max-width: 250px;
  background-color: white;
  padding: 4rem;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 100px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons a {
  font-size: 1.1rem;
}

.modal-content h1 {
  margin: 0px;
}

.modal-content p {
  margin: 10px 0 30px 0;
}

/* add.php */

.showpass {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  border: none;
  /* color: rgb(66, 66, 66); */
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.wrapper {
  padding: 0;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-container {
  box-shadow: 1.5px 2.4px 10px 1px rgba(0, 0, 0, 0.2);

  margin-top: 16px;
  border-radius: 10px;
  background-color: white;
  width: 40%;
}

.add-container h2 {
  text-align: center;
  margin: 15px 0 0 0;
}
.add-container p {
  font-size: 18px;
  text-align: center;
  margin: 5px 0 0 0;
  padding: 0 45px 0 0px;
}

.add-container .header {
  justify-content: center;
}

.user-detail-header {
  display: flex;
  margin: 0 35px 0 35px;
  justify-content: center;
}

.user-detail-container {
    padding: 5px 25px 15px 25px;
    width: 100%;
    box-sizing: border-box;
}

.user-detail-container .add-buttons {
  padding-top: 0px !important;
}

.user-detail-body {
  gap: 7%;
  padding: 40px 15px 40px 15px ;
  display: flex;
  /* justify-content: space-between; */
  /* margin: 15px 0; */
}

.user-detail-body p {
  padding-right: 0;
  margin: 0;
  text-align: start;
}

.user-detail-label {
  margin: 10px 0 0 0 !important;
}


.bold {
  font-weight: bold;
}
.add-form {
  padding: 5px 25px 15px 25px;
  width: 100%;
  box-sizing: border-box;
}

.add-form p {
  color: red;
}

.add-form label {
  font-size: 18px;
}

.add-form input {
  width: 98%;
  height: 30px;
}

.add-form .label-input {
  padding: 15px 0 0 0;
  display: block;
}

.add-form .label-input-img {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.add-form .label-input:nth-child(1) {
  padding-top: 15px;
}

.add-buttons {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 5px 0;
}

.login-buttons {
  display: block;
  padding: 25px 0 5px 0;

}



.register-instead a {
  color: #0000EE;
}
.register-instead a:hover {
  color: #551A8B !important;
  text-decoration: underline;
}


input[type="file"]::file-selector-button {
  font-family: "Quicksand";
  font-weight: bold;
  box-sizing: border-box;
  padding: 0 15px;
  border: none;
  height: 100%;
  border-radius: 5px;
}

input[type="file"]::file-selector-button:hover {
  background-color: salmon;
  color: white;
}

input[type="file"] {
  margin-top: 5px;
}

.label-radio {
  padding-top: 10px;
}

input#yes,
input#no {
  width: 13px !important;
  height: 13px !important;
}

/* details.php */

.details-container {
  padding: 5px 25px 20px 25px;
  text-align: center;
  align-items: center;
}
.details-container p {
  font-size: 18px;
  text-align: center;
  margin: 10px 0 0 0 !important;
  padding: 0 !important;
}

.details-container h2 {
  margin-bottom: 10px;
}

.details-content {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space;
}

.details-point {
  width: 100%;
}

.details-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: start;
}

/* login.php */

.login-container {
  margin-top: 35px;
  box-shadow: 1.5px 2.4px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  width: 35%;
}

.login-container h2 {
  text-align: center;
  margin: 15px 0 0 0;
}
.login-container p {
  font-size: 18px;
  text-align: center;
  margin: 15px 0 0 0;
  padding: 0 45px 0 45px;
}


.adminnote {
  margin: 0 !important;
  padding: 4px 0 0 0 !important;
  font-size: 14px !important;
  color: black !important;
  text-align: start !important;
}
